.DS_Store
.idea
__pycache__
build
dist
logs
venv
traces
secrets.py
mymap.html
python-OBD
lemon_pi/shared/generated
lemon_pi/config/local_settings_pit.py
lemon_pi/config/local_settings_car.py
lemon_pi/resources/test/sonoma-full.csv
tmp